resources:
- name: ci-src
  type: git
  source:
    uri: https://github.com/{{ci.repository}}.git

- name: src-dev
  type: git
  source:
    uri: https://github.com/{{project.repository}}.git
    branch: dev
    username: ((github-user))
    password: ((github-pass))

- name: src-stable
  type: git
  source:
    uri: https://github.com/{{project.repository}}.git
    branch: master
    username: ((github-user))
    password: ((github-pass))

- name: 1m
  type: time
  source: {interval: 1m}

jobs:
- name: check-and-promote
  plan:
  - aggregate:
    - get: ci-src
    - get: src-dev
      trigger: true
  - task: promote-to-master
    file: ci-src/tasks/promote-to-master.yml
    input_mapping: {src: src-dev}
  - aggregate:
    - task: unit-test
      file: ci-src/tasks/erl-lib-unit-test.yml
      input_mapping: {src: src-dev}
    - task: dialyzer
      file: ci-src/tasks/erl-lib-dialyzer.yml
      input_mapping: {src: src-dev}
  - put: src-stable
    params:
      repository: src-dev
      merge: true

- name: update-deps
  plan:
  - get: 1m
    trigger: true
  - aggregate:
    - get: src-stable
      passed: [check-and-promote]
    - get: ci-src
  - task: update-deps
    file: ci-src/tasks/erl-lib-update-deps.yml
    input_mapping: {src: src-stable}
  - try:
      task: save-deps
      file: ci-src/tasks/commit-git-index.yml
      input_mapping: {src: src-stable}
      params:
        MESSAGE: "CI: Update dependencies"
      on_success:
        aggregate:
          - task: unit-test
            file: ci-src/tasks/erl-lib-unit-test.yml
            input_mapping: {src: src-stable}
          - task: dialyzer
            file: ci-src/tasks/erl-lib-dialyzer.yml
            input_mapping: {src: src-stable}
  - put: src-stable
    params:
      repository: src-stable
      merge: true
